body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #a91d2e, #f6d9c0);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 800px;
  height: 450px;
  background: #fff6ec;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 4px 4px 15px rgba(0,0,0,0.4);
}

.login-section {
  flex: 1;
  padding: 25px 40px;
}

.login-section h2 {
  color: #9a1f20;
  font-size: 40px;
  margin-top: -10px;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.social-login {
  margin: 15px 0;
  font-size: 24px;
  text-align: center;
  max-width: 400px;
}
.social-login img {
  width: 35px;
  height: 35px;
  margin: 0 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.social-login img:hover {
  transform: scale(1.1);
}

.login-section p  {
  font-size: 14px;
  color: #7b3e3e;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.input-box {
  position: relative;
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

.input-box .icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  opacity: 0.8;
}

.input-box input {
  width: 90%;
  max-width: 320px;
  padding: 12px 12px 12px 40px; /* space kiri lebih besar buat ikon */
  border-radius: 8px;
  border: none;
  background: #d18888;
  color: #fff;
  font-size: 16px;
}

.input-box input::placeholder {
  color: #fff;
  opacity: 0.8;
  font-family: 'Times New Roman', Times, serif;
}


.forgot {
  display: block;
  font-size: 13px;
  margin: 5px 0 15px;
  color: #7b3e3e;
  text-decoration: none;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.btn {
  width: 100%;
  padding: 12px;
  background: #a91d2e;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
}

.register-text {
  margin-top: 15px;
  font-size: 14px;
}
.register-text a {
  color: #a91d2e;
  text-decoration: none;
  font-weight: bold;
}

/* Bagian Sign Up */
.signup-section {
  flex: 1;
  background: linear-gradient(to bottom, #a91d2e, #d14a4a);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  font-family: 'Times New Roman', Times, serif;
}

.signup-section h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.signup-section p {
  font-size: 15px;
  margin-bottom: 25px;
  text-align: center;
}

.btn-outline {
  padding: 10px 25px;
  border: 2px solid #fff;
  border-radius: 8px;
  font-size: 18px;
  background: transparent;
  color: #fff;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
}

.btn-outline a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
